* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    }
 .navbar-collapse {
  flex-grow: 0;

 }

 .navbar-expand-lg {
    color:white
 }

 .navbar-brand {
    color: white;
 }

.text-center {
    color: white;
    text-align: justify;
    font-size: 16px;
}
.card {
    background-color:darkcyan;
    color: white;

}

.form-label {
    color: white;
    text-align: center;
}

.card-title {
    color: white;
    font-family: Raleway;
    text-align: center;
    font-size: 16px;
}
.container-fluid {
    color: white;
}
.btn {
    background: darkcyan;
}


